body{
    background-color: bisque;
  }

/* Menu Inicial */
.principal-nav{
    border:solid 5px;
    width: 800px;
    margin: 10px;
    border-color:black;
    text-align: center;
    background-color:white;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    left: 25%;
  }    

  ul{
    list-style-type: none;
    position: relative;
    left: 250px;
}
li{
  float: left;
  margin-left: 20px;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 3px 3px;
} 
li a:visited{
  color: rgb(203, 206, 9);
}
li a:hover{
  background-color:darksalmon;
  color: blanchedalmond;
}
a{
    text-decoration: none;
    color:black;
    border:solid 1px;
    padding:3px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
  }

/* Graficadora */

#basegrafica{
  padding-left: 25%;
}
.base{
  background-color:whitesmoke;
  width: 80%;
  border: 10px transparent;
  padding: 10px;
  border: 5px solid;
  border-radius: 8px;
  margin: 20px;
  padding-bottom: 150px;
  text-align: center;
  position: relative;
  left: 10%;
}


#detallesgrafica{
  background-color: rgb(255, 255, 255);
  width: 30%;
  border: 10px transparent;
  padding: 10px;
  border: 2px solid wheat;
  border-radius: 8px;
  margin: 20px;
  padding-bottom: 2%;
}

/* Centrar menu grafico */
.center{
    padding-left: 40%;
}

button{
  text-decoration: none;
  color:black;
  border:solid 2px wheat;
  padding:5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

/* Centrar Grafica */

#desarrollografica{
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 50%;
  border: 10px transparent;
  padding: 10px;
  border: 2px solid wheat;
  border-radius: 8px;
  margin: 20px;
  padding-bottom: 2%;

}
#alineargrafico{
  padding-left: 28%;
}
